<%- include('../../templates/head') %>

<section class="blog-single" style="padding-top: 100px;">
    <div class="">
        <div class="row">
            <aside class="col-lg-3 col-md-4 col-12 d-flex justify-content-center mb-5">
                <div class="sidebar ml-2">
                    <div class="text-center mb-3 p-4 widget border border-primary border-1">
                        <h6 class="text-primary">Aquí está tu guía <br> paso a paso</h6>
                        <i class="fas fa-long-arrow-alt-down mt-1 text-primary"></i>
                    </div>
                    <div class="widget popular-feeds border border-primary border-2">
                        <h5 class="widget-title">Pasos del Curso</h5>
                        <div class="">
                            <div class="single-popular-feed">
                                <div class="feed-desc">
                                    <h6 class="widget-title-post"><a href="/curso/<%= name %>">Introducción a Whatsapp</a></h6>
                                    <div class="ml-3">
                                        <i class="fas fa-angle-right fa-sm d-inline"></i>
                                        <a href="/curso/<%= name %>" class="text-muted d-inline">
                                            <span class="time d-inline part">¿Qués es whatsapp?</span>
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <i class="fas fa-angle-right fa-sm d-inline"></i>
                                        <a href="/curso-p1/<%= name %>" class="text-muted d-inline">
                                            <span class="time d-inline part">Prueba 1</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-popular-feed">
                                <div class="feed-desc">
                                    <h6 class="widget-title-post"><a href="#">Chats y Conversaciones</a></h6>
                                    <div class="ml-3">
                                        <i class="fas fa-angle-right fa-sm d-inline"></i>
                                        <a href="#" class="text-muted d-inline">
                                            <span class="time d-inline part">¿Cómo chatear?</span>
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <i class="fas fa-angle-right fa-sm d-inline"></i>
                                        <a href="#" class="text-muted d-inline">
                                            <span class="time d-inline part">Funcionalidades</span>
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <i class="fas fa-angle-right fa-sm d-inline"></i>
                                        <a href="#" class="text-muted d-inline">
                                            <span class="time d-inline part">Grupos</span>
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <i class="fas fa-angle-right fa-sm d-inline"></i>
                                        <a href="#" class="text-muted d-inline">
                                            <span class="time d-inline part">Prueba 2</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-popular-feed">
                                <div class="feed-desc">
                                    <h6 class="widget-title-post"><a href="#">Agendar un contacto</a></h6>
                                    <div class="ml-3">
                                        <i class="fas fa-angle-right fa-sm d-inline"></i>
                                        <a href="#" class="text-muted d-inline">
                                            <span class="time d-inline part">¿Cómo agendar?</span>
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <i class="fas fa-angle-right fa-sm d-inline"></i>
                                        <a href="#" class="text-muted d-inline">
                                            <span class="time d-inline part">Ver botones</span>
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <i class="fas fa-angle-right fa-sm d-inline"></i>
                                        <a href="#" class="text-muted d-inline">
                                            <span class="time d-inline part">Vizualizar contacto</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="text-center mb-3 p-4 widget border border-primary border-1">
                        <h6 class="text-primary">Aquí están tus pruebas, <br>confiamos en ti</h6>
                        <i class="fas fa-long-arrow-alt-down mt-1 text-primary"></i>
                    </div>
                    <div class="widget categories-widget border border-primary border-2">
                        <h5 class="widget-title">Pruebas del Curso</h5>
                        <ul class="custom">
                            <li>
                                <a href="#">1. Agendar contacto<span class="prueba-calificacion"><i
                                            class="fas fa-check"></i></span></a>
                            </li>
                            <li>
                                <a href="#">2. Llamar a alguien<span class="border border-dark"><i
                                            class="fas fa-times text-dark"></i></span></a>
                            </li>
                            <li>
                                <a href="#">3. Video llamada<span class="border border-dark"><i
                                            class="fas fa-times text-dark"></i></span></a>
                            </li>
                            <li>
                                <a href="#">4. Borrar contacto<span class="border border-dark"><i
                                            class="fas fa-times text-dark"></i></span></a>
                            </li>
                            <li>
                                <a href="#">5. Bloquear contacto<span class="border border-dark"><i
                                            class="fas fa-times text-dark"></i></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>