<%- include('templates/head', {tituloWeb: ''}) %>

    <!-- Preloader -->
    <!-- <div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div> -->
    <!-- /End Preloader -->

    <!-- Start Hero Area -->
    <section class="hero-area">
        <!-- Single Slider -->
        <div class="hero-inner">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 co-12">
                        <div class="home-slider">
                            <div class="hero-text">
                                <h1 class="wow fadeInUp" data-wow-delay=".3">Obten <span
                                        class="font-weight-bold">nivel</span> en las aplicaciones cotidianas</h1>
                                <p class="wow fadeInUp text-dark" data-wow-delay=".5s">Con <span
                                        class="font-weight-bold font-italic text-primary">TimeLapse</span> podrás dejar
                                    el pasado y obtendrás <br> conocimiento en las aplicaciones de hoy en día.
                                </p>
                                <div class="button wow fadeInUp" data-wow-delay=".7s">
                                    <a href="/tienda" class="btn">Ver Productos</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>
    <!--/ End Hero Area -->

    <!-- Start Pricing Table Area -->
    <section class="pricing-table section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">principales</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">CURSOS DISPONIBLES</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Nuestros cursos te darán conocimiento en las
                            aplicaciones más usadas en Redes Sociales, Telecomunicaciones y Office.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp border border-2" data-wow-delay=".2s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Whatsapp</h4>
                            <div class="image-products">
                                <img src="images/products/logo-whatsapp.png" alt="">
                            </div>
                            <div class="price">
                                <p class="amount">$<span class="price-products">1.99</span><span class="duration">por
                                        producto</span></p>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>Up to 5 users</li>
                            <li>Basic support on Github</li>
                            <li>Monthly updates</li>
                            <li>Free cancelation</li>
                        </ul>
                        <!-- End Table List -->
                        <!-- Table Bottom -->
                        <div class="button">
                            <a class="btn" href="#">Añadir a carrito</a>
                        </div>
                        <!-- End Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp border border-2" data-wow-delay=".2s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Teams</h4>
                            <div class="image-products">
                                <img src="images/products/logo-teams.png" alt="">
                            </div>
                            <div class="price">
                                <p class="amount">$<span class="price-products">3.99</span><span class="duration">por
                                        producto</span></p>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>Up to 5 users</li>
                            <li>Basic support on Github</li>
                            <li>Monthly updates</li>
                            <li>Free cancelation</li>
                        </ul>
                        <!-- End Table List -->
                        <!-- Table Bottom -->
                        <div class="button">
                            <a class="btn" href="#">Añadir a carrito</a>
                        </div>
                        <!-- End Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Table -->
                    <div class="single-table wow fadeInUp border border-2" data-wow-delay=".2s">
                        <!-- Table Head -->
                        <div class="table-head">
                            <h4 class="title">Word</h4>
                            <div class="image-products">
                                <img src="images/products/logo-word.png" alt="">
                            </div>
                            <div class="price">
                                <p class="amount">$<span class="price-products">1.99</span><span class="duration">por
                                        producto</span></p>
                            </div>
                        </div>
                        <!-- End Table Head -->
                        <!-- Table List -->
                        <ul class="table-list">
                            <li>Up to 5 users</li>
                            <li>Basic support on Github</li>
                            <li>Monthly updates</li>
                            <li>Free cancelation</li>
                        </ul>
                        <!-- End Table List -->
                        <!-- Table Bottom -->
                        <div class="button">
                            <a class="btn" href="#">Añadir a carrito</a>
                        </div>
                        <!-- End Table Bottom -->
                    </div>
                    <!-- End Single Table-->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Pricing Table Area -->

    <!-- Start Single Product Area -->
    <section class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="about-left">
                        <div class="section-title align-left">
                            <span class="wow fadeInDown" data-wow-delay=".2s">recomendado</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">Paquete Office</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">Obtén el paquete office y descubre nuevas
                                habilidades con los cursos sobre los productos más utilizados en la ofimática.</p>
                        </div>

                        <div class="price wow fadeInUp mb-3" data-wow-delay=".6s">
                            <h3 class="d-inline text-muted"><del>$8.99</del></h3>
                            <h2 class="d-inline">&nbsp$<span class="price-products">6.99</span></h2>
                            <span class="duration">ahora</span>
                        </div>

                        <div class="about-tab wow fadeInUp" data-wow-delay=".4s">
                            <!-- Nav Tab  -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a class="active" data-toggle="tab" href="#t-tab1"
                                        role="tab">Contenido</a></li>
                                <li class="nav-item"><a class="" data-toggle="tab" href="#t-tab2"
                                        role="tab">Beneficios</a></li>
                                <li class="nav-item"><a class="" data-toggle="tab" href="#t-tab3"
                                        role="tab">Experiencias</a></li>
                            </ul>
                            <!--/ End Nav Tab -->
                            <div class="tab-content" id="myTabContent">
                                <!-- Tab 1 -->
                                <div class="tab-pane fade show active" id="t-tab1" role="tabpanel">
                                    <div class="tab-content text-dark">
                                        <p>Los productos más destacados del mercado en la ofimática a nivel mundial con
                                            documentación extensa para su efizaz aprendizaje.</p>
                                        <ul>
                                            <li><i class="far fa-check-circle"></i> Word</li>
                                            <li><i class="far fa-check-circle"></i> Excel</li>
                                            <li><i class="far fa-check-circle"></i> Outlook</li>
                                            <li><i class="far fa-check-circle"></i> One Drive</li>
                                            <li><i class="far fa-check-circle"></i> Power Point</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ End Tab 1 -->
                                <!-- Tab 2 -->
                                <div class="tab-pane fade" id="t-tab2" role="tabpanel">
                                    <div class="tab-content text-dark">
                                        <p>Obtendrás nivel y nuevos conocimientos en las aplicacaciones office para
                                            realizar informes, artículos, trabajos, proyectos, etc. Todo en el área de
                                            informática básica.</p>
                                        <p>También podrás conocer la nube con one drive y guardar todos tus archivos
                                            personales y laborales de manera segura sin consumir almacenamiento en tu
                                            dispositivo.</p>
                                    </div>
                                </div>
                                <!--/ End Tab 2 -->
                                <!-- Tab 3 -->
                                <div class="tab-pane fade" id="t-tab3" role="tabpanel">
                                    <div class="tab-content text-dark">
                                        <p>La mayoría de usuarios de internet saben utilizar los productos básicos de
                                            oficmática, no te quedes atrás y adquiere nivel.</p>
                                        <ul>
                                            <li><i class="far fa-check-circle"></i> Alcanza Niveles y deja el
                                                pasado atrás.</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--/ End Tab 3 -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about-right wow fadeInRight d-flex justify-content-center" data-wow-delay=".4s">
                        <!-- <img src="images/about/about-img.png" alt="#"> -->
                        <img src="images/products/logo-office.png" alt="imagen"
                            style="width: 280px; height: 400px;">
                    </div>
                    <div class="button d-flex justify-content-center wow fadeInRight mt-5" data-wow-delay=".4s">
                        <a class="btn" href="/tienda">Ver producto</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Single Product Area -->

    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Ver más</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Ver todos los Productos <i
                                class="fas fa-shopping-cart"></i></h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Dirigete a la tienda de productos y mira nuestro
                            catálogo...</p>
                        <div class="button wow fadeInUp mt-4" data-wow-delay=".7s">
                            <a href="/tienda" class="btn">Ver Productos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Us Area -->

    <!-- Start Intro Video Area -->
    <section class="intro-video-area overlay section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title white-text">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Gana experiencia para tus trabajos</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">¿Estás listo para aprender?</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Mira este video para conocer lo que TimeLapse tiene
                            para ti, creenos, ¡te encantará!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-video-play">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-12">
                                <div class="play-thumb wow zoomIn" data-wow-delay=".2s">
                                    <a href="https://www.youtube.com/watch?v=XDcUDnhKPTQ&ab_channel=TruenoOficialTruenoOficialCanaloficialdelartista"
                                        class="glightbox video"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div>
    </section>
    <!-- End Intro Video Area -->

    <!-- Start About Us Area -->
    <div class="latest-news-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Personal</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">SOBRE NOSOTROS</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Somos un grupo de jóvenes que busca brindarles a
                            las personas de menos conocimiento informático grandes oportunidades.</p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-evenly">
                <div class="col-lg-2 col-md-4 col-6">
                    <!-- Single Profile -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <img class="rounded-circle" src="images/profiles/franklin.jpeg" alt="#">
                        </div>
                        <div class="content-body text-center">
                            <h4 class="title">Franklin Iván A.</h4>
                            <p>Programador Full Stack.</p>
                        </div>
                        <hr class="bg-primary w-50 mx-auto">
                    </div>
                    <!-- End Single Profile -->
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <!-- Single Profile -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <img class="rounded-circle" src="images/profiles/javier.png" alt="#">
                        </div>
                        <div class="content-body text-center">
                            <h4 class="title">Javier Arrue</h4>
                            <p>Programador BackEnd.</p>
                            <p>Administrador BD.</p>
                        </div>
                        <hr class="bg-primary w-50 mx-auto">
                    </div>
                    <!-- End Single Profile -->
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <!-- Single Profile -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <img class="rounded-circle" src="images/profiles/rocio.jpg" alt="#">
                        </div>
                        <div class="content-body text-center">
                            <h4 class="title">Rocio Ñañez</h4>
                            <p>Programadora FrontEnd.</p>
                        </div>
                        <hr class="bg-primary w-50 mx-auto">
                    </div>
                    <!-- End Single Profile -->
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <!-- Single Profile -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <img class="rounded-circle" src="images/profiles/daniel.png" alt="#">
                        </div>
                        <div class="content-body text-center">
                            <h4 class="title">Daniel Ryan</h4>
                            <p>Diseñador UI and UX.</p>
                            <p>Tester.</p>
                        </div>
                        <hr class="bg-primary w-50 mx-auto">
                    </div>
                    <!-- End Single Profile -->
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <!-- Single Profile -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <img class="rounded-circle" src="images/profiles/ricardo.jpg" alt="#">
                        </div>
                        <div class="content-body text-center">
                            <h4 class="title">Ricardiño Ye</h4>
                            <p>Programador BackEnd.</p>
                            <p>Tester.</p>
                        </div>
                        <hr class="bg-primary w-50 mx-auto">
                    </div>
                    <!-- End Single Profile -->
                </div>
            </div>
        </div>
    </div>
    <!-- End About Us Area -->

    <!-- Start About Us Area -->
    <div class="mb-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6 col-lg-6 wow fadeInUp">
                    <img src="images/mail-success.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- End About Us Area -->

    <script>
        var element = document.getElementById('inicio');
        element.classList.add('active');
    </script>

    <%- include('templates/footer') %>

    <script type="text/javascript">
        //========= glightbox

        GLightbox({
            'href': 'https://www.youtube.com/watch?v=XDcUDnhKPTQ&ab_channel=TruenoOficialTruenoOficialCanaloficialdelartista',
            'type': 'video',
            'source': 'youtube', //vimeo, youtube or local
            'width': 900,
            'autoplayVideos': true,
        });
    </script>