<%- include('../templates/head', {tituloWeb: '- Prueba'}) %>

<div class="section container">
  <h5>Pregunta #1: </h5>
<h5>Que es Microsoft Office?:</h5>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        A. Microsoft Word es un programa informático orientado al procesamiento de textos.
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        B. Microsoft Word es un programa informático utilizado para programacion.
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        C. Microsoft Word es un programa informático que utiliza hojas de càlculo. 
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        D. Otro
    </label>
  </div>

  <h5>Pregunta #2: </h5>
  <h5>Que es Microsoft Excel?: </h5>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        A. Microsoft Excel es un programa informático orientado al procesamiento de textos.
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        B. Microsoft Excel es un programa informático utilizado para programacion.
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        C. Microsoft Word es un programa informático que utiliza hojas de càlculo. 
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        D. Otro
    </label>
  </div>
</div>

<%- include('../templates/footer') %>