<%- include('../templates/head', {tituloWeb: '- Nosotros' }) %>
  <br>
  <br>
  <section id="header">
    <div class="container mt-0  mb-1 p-5">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="header-content-left  wow fadeInUp" data-wow-delay=".2s">
            <img class="mt-5" src="images/logo/logo.png" style="width: 100%;">
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="header-content-right wow fadeInUp" data-wow-delay=".2s">
            <h3 class="display-4 mb-1 p-5">Cómo nació TimeLapse?</h3>
            <p class="mt-2 text-justify">Somos un grupo de desarrolladores que vimos la necesidad en las personas
              mayores de aprender a utilizar aplicaciones sencillas y como amamos a nuestros padres y abuelos decidimos
              crear esta aplicación donde aprenderan de forma sencilla y fácil para incluir a esta generación en el
              mundo de la tecnología.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="testimonial">
    <div class="container">
      <p class="h2 mb-2 mt-5">
        Cualquier momento es perfecto para aprender algo nuevo.
      </p>
      <p class="h4">- Albert Einstein</p>
    </div>
  </section>

  <section id="info-one ">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-5 p-3">
          <div class="info-left">
            <img class="rounded-circle" src="images/profiles/franklin.jpeg" style="width:50% ">
          </div>
        </div>
        <div class="col-md-6 my-auto">
          <div class="info-right wow fadeInUp" data-wow-delay=".2s">
            <h2>Franklin Alvarado</h2>
            <p class=" text-justify wow fadeInUp" data-wow-delay=".2s">Desarrollador de Software cursa el 4to año de la
              universidad, trabajador y metódico,alza pesas, le encantan los juegos online.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="info-one">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-5 p-3">
          <div class="info-left">
            <img class="rounded-circle" src="images/profiles/javier.png" style="width: 50%">
          </div>
        </div>
        <div class="col-md-6 my-auto">
          <div class="info-right wow fadeInUp" data-wow-delay=".2s">
            <h2>Javier Arrue</h2>
            <p class=" text-justify wow fadeInUp" data-wow-delay=".2s">Desarrollador de Software cursa el 4to año de la
              universidad, metódico y detallista, le gusta ir al gym y le encantan los juegos online, buscador de
              sorteos.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="info-one">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-5 p-3 ">
          <div class="info-left">
            <img class="rounded-circle" src="images/profiles/rocio.jpg" style="width: 50%">
          </div>
        </div>
        <div class="col-md-6 my-auto">
          <div class="info-right wow fadeInUp" data-wow-delay=".2s">
            <h2>Rocío Ñañez</h2>
            <p class=" text-justify wow fadeInUp" data-wow-delay=".2s">Desarrollador de Software cursa el 4to año de la
              universidad, Creativa y analítica, le gusta salir a caminar y conversar con personas mayores.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="info-one">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-5 p-3  ">
          <div class="info-left">
            <img class="rounded-circle" src="images/profiles/daniel.png" style="width: 50%">
          </div>
        </div>
        <div class="col-md-6 my-auto">
          <div class="info-right wow fadeInUp" data-wow-delay=".2s">
            <h2>Daniel Ryan</h2>
            <p class=" text-justify wow fadeInUp" data-wow-delay=".2s">Desarrollador de Software cursa el 4to año de la
              universidad, detallista, colaborativo y le encantan los juegos online.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="info-one">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-5 p-3  ">
          <div class="info-left">
            <img class="rounded-circle" src="images/profiles/ricardo.jpg" style="width: 50%">
          </div>
        </div>
        <div class="col-md-6 my-auto">
          <div class="info-right wow fadeInUp" data-wow-delay=".2s">
            <h2>Ricardo Ye</h2>
            <p class=" text-justify wow fadeInUp" data-wow-delay=".2s">Desarrollador de Software cursa el 4to año de la
              universidad, colaborativo y responsable, le encantan los juegos online y buscador de sorteos.
          </div>
        </div>
      </div>
  </section>

  <%- include('../templates/footer') %>